hostname {{hostname}}
{% for interface in interfaces %}
interface {{interface.name}}
description {{interface.description}}
{% if interface.type == "access" %}
switchport access vlan {{interface.vlan_id}}
{% elif interface.type == "trunk" %}
switchport mode trunk
{% elif interface.type == "vlan" %}
interface vlan {{interface.vlan_id}}
ip address {{interface.ip}} {{interface.mask}}
{% endif %}
no shut
exit
{% endfor %}
